<aside class="sidebar-nav-wrapper">
	<div class="navbar-logo">
		<a href="index.html">
			<img class="img-fluid" src="/static/picture/blaze.png" alt="logo" />
		</a>
	</div>
	<nav class="sidebar-nav">
		<ul>
			<li class="nav-item">
				<a href="index.html">
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22">
						</svg>
					</span>
					<span class="text">首页</span>
				</a>
			</li>
			<li class="nav-item active">
				<a href="index.html">
					<span class="icon">
						<svg width="22" height="22" viewBox="0 0 22 22">
						</svg>
					</span>
					<span class="text">客户端设置</span>
				</a>
			</li>
		</ul>
	</nav>
</aside>
